#m-game {
    width: 100%;
    height: 50%;
    background: blue;
}

.m-game-ship {
    border: 1px solid #ccc;
    background: darkgray;
    position: absolute;

    &.rotate {
        transform: rotate(90deg);
    }
}